<app-navbar></app-navbar>

<div class="main">
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3209.704320454216!2d71.13494530229339!3d40.57058122116257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1suz!2s!4v1745573840397!5m2!1suz!2s" width="600" height="495" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="textlar">
            <div class="relative overflow-x-auto">
                <img src="llc.webp" alt="">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3 rounded-s-lg">
                                Google
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Manzil
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white dark:bg-gray-800">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Viloyat:
                            </th>
                            <td class="px-6 py-4">
                                Farg'ona
                            </td>
                        </tr>
                        <tr class="bg-white dark:bg-gray-800">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Tuman:
                            </th>
                            <td class="px-6 py-4">
                                Buvayda
                            </td>
                        </tr>
                        <tr class="bg-white dark:bg-gray-800">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Mo'jjal:
                            </th>
                            <td class="px-6 py-4">
                                Bahor to'yxonasi
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="font-semibold text-gray-900 dark:text-white">
                            <th scope="row" class="px-6 py-3 text-base">Bino:</th>
                            <td class="px-6 py-3">Abutech LC</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="textlar">
            <div class="relative overflow-x-auto">
                <img src="llc.webp" alt="">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3 rounded-s-lg">
                                Yandex 
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Manzil
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white dark:bg-gray-800">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Viloyat:
                            </th>
                            <td class="px-6 py-4">
                                Farg'ona
                            </td>
                        </tr>
                        <tr class="bg-white dark:bg-gray-800">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Tuman:
                            </th>
                            <td class="px-6 py-4">
                                Buvayda
                            </td>
                        </tr>
                        <tr class="bg-white dark:bg-gray-800">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Mo'jjal:
                            </th>
                            <td class="px-6 py-4">
                            Bahor to'yhonasi
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="font-semibold text-gray-900 dark:text-white">
                            <th scope="row" class="px-6 py-3 text-base">Bino:</th>
                            <td class="px-6 py-3">Abutech LC</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="yandex" style="position:relative;overflow:hidden;"><a href="https://yandex.uz/maps?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Yandex Xarita</a><a href="https://yandex.uz/maps/?ll=71.130720%2C40.572427&utm_medium=mapframe&utm_source=maps&z=17.65" style="color:#eee;font-size:12px;position:absolute;top:14px;">Yandex Xarita</a><iframe src="https://yandex.uz/map-widget/v1/?ll=71.130720%2C40.572427&z=17.65" width="600" height="490" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    </div>
</div>

<app-footer></app-footer>