<div class="main">
    <h2 class="main-text">Kasblar va Servislar</h2>
    <div class="container">
        <div class="card">
            <img src="construction.png" alt="">
            <p>Quruvchilar</p>
        </div>
        <div class="card">
            <img src="forniture.png" alt="">
            <p>Mebelchilar</p>
        </div>
        <div class="card">
            <img src="carpentering.png" alt="">
            <p>Duradgorlar</p>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <img src="mdf.png" alt="">
            <p>MDF'chilar</p>
        </div>
        <div class="card">
            <img src="engraver.webp" alt="">
            <p>O'ymakorlar</p>
        </div>
        <div class="cardf">
            <img class="f" src="facader.png" alt="">
            <p>Fasadchi</p>
        </div>
    </div>
</div>